/* Base Application Styles */
body {
  color: rgb(70, 68, 68);
  font-family: Arial, Helvetica, sans-serif;
  background-color: gray;
  font-size: medium;
  margin: 20px;
}
.partitionsView {
  position: relative;
  left: 200px;
  top: 25px;
}
.controls {
  position: fixed;
  width: 96%;
  left: 19px;
  z-index: 1;
}
.filters {
  font-size: 70%;
  position: fixed;
  top: 45px;
  li {
    margin-left: -15px;
  }
  p {
    margin: 2px;
  }
  .options,
  .portswhitelist {
    li:first-child {
      font-size: 120%;
      font-weight: bold;
      list-style: none;
      margin-left: -34px;
    }
  }
}
.p1 {
  width: 10px;
  height: 10px;
  background: #ff6666;
  position: absolute;
}
.p2 {
  width: 10px;
  height: 10px;
  background: #ff6666;
  position: absolute;
  bottom: 200px;
  right: 500px;
}
.filters {
  input[type="text"] {
    width: 95%;
  }
}
// flexbox
.fbx {
  &.drcol {
    flex-direction: column;
  }
  display: flex;
  flex-wrap: wrap;
  justify-content: left;
  .br {
    padding: 1px;
    border-radius: 10px;
    border: 1px solid black;
    margin: 1px;
    .name {
      font-size: 70%;
    }
  }
}

.connection {
  align-items: center;
  justify-content: left;
  .sender {
    &::after {
      content: "⤚";
      color: #ff6666;
      float: right;
      bottom: 30px;
      position: relative;
      left: 15px;
    }
  }
  .connectors {
    top: 10px;
    position: relative;
    margin-left: 11px;
    .connector {
      width: 200px;
      height: 22px;
      border-top: 1px solid #ff6666;
      border-left: 1px solid #ff6666;
      &:last-child {
        border-left: 0;
      }
      &::after {
        content: "►";
        float: right;
        top: -10px;
        position: relative;
        left: 4px;
        color: #ff6666;
      }
    }
  }
}

.partitions {
  // flex-direction: column;
  .partition {
    background-color: #00b8ff;
    border: 1px solid black;
  }
}
//clusters
.clusters {
  .cluster {
    background-color: #00415a;
    border: 1px solid black;
  }
}

.connected .name {
  color: #ffeead;
}

//components
.components {
  flex-direction: row;
}
.component,
.receiver,
.sender {
  background-color: #00719c;
  border: 1px solid black;
  &.connected {
    border: 1px solid #ffeead;
  }
}

//ports
.port {
  background-color: #009bd6;
  .tooltiptext {
    font-size: 20px;
    text-align: left;
  }
}

.vdp {
  background-color: #00b8ff;
  border: 1px solid black;
  cursor: pointer;
}

.connected {
  border: 1px solid #ffeead !important;
}

.con-in,
.con-out {
  cursor: pointer;
  margin: 2px;
  font-size: 12px;
  margin: 0 2px;
  border: 1px solid;
  text-align: center;
  // background-color: yellowgreen;
  display: inline-block;
  &:hover {
    color: yellow;
  }
}

//tooltips
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}
