/* Base Application Styles */
body {
  color: rgb(190, 176, 176);
  font-family: Arial, Helvetica, sans-serif;
  background: #222;  
  font-size: medium;
  margin: 20px;
}

// flexbox
.fbx {
  display: flex; 
  flex-wrap: wrap;
  justify-content: flex-start;
  align-items: flex-start;
  padding: 5px;
  .item {
    padding: 2px;
    border-radius: 10px; 
    margin: 2px;     
  }
}

.partitions {
  .partition {
    border: 1px solid #FFF8DC;
    background-color: rgb(40, 40, 255);
  }
}
//clusters
.clusters {  
  
  .cluster {
    border: 1px solid;
    background-color: rgb(75, 75, 250);
  }
}

//components
.components {
  .component {  
    border: 1px solid;
    background-color: rgb(124, 124, 250);
    border: 1px solid #483D8B;
    padding: 4px;
    margin: 2px;
  }
}

//ports

.port {
  background-color: rgb(136, 136, 250);
  width: 15px;
  height: 45px;
  overflow: hidden;
  border: 1px solid;
  font-size: 80%;  
    &:hover { 
      width: auto;
      height: auto;
      overflow: visible;
    }
}

.item.port .tooltiptext {
  font-size: 30px; 
}

.item.vdp {
  color: rgb(90, 124, 90);
  border: 1px solid;
  border-radius: 10px;
}

.vdps {
  flex-direction: column;
  .vdp {
    background-color: rgb(131, 131, 184);
    color: white;
    opacity: .7;
  }
}


//tooltips
.tooltip {
  position: relative;
  display: inline-block;
  border-bottom: 1px dotted black;
}

.tooltip .tooltiptext {
  visibility: hidden;
  opacity: 0;
  background-color: #555;
  color: #fff;
  text-align: center;
  border-radius: 6px;
  padding: 5px;
  position: absolute;
  z-index: 1;
  bottom: 125%;
  left: 50%;
  margin-left: -60px;
  transition: opacity 0.3s;
}

.tooltip .tooltiptext::after {
  content: "";
  position: absolute;
  top: 100%;
  left: 50%;
  margin-left: -5px;
  border-width: 5px;
  border-style: solid;
  border-color: #555 transparent transparent transparent;
}

.tooltip:hover .tooltiptext {
  visibility: visible;
  opacity: 1;
}